# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
build_webpack
contract.json

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader

#contract address
src/utils/web3/addresses/contracts.js

#mocha tests
.nyc_output

#contract address
src/utils/web3/addresses/contracts.js


#mocha tests
.nyc_output
